* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    padding: 15px 20px;
    border-radius: 6%;
    background-color: #FFCDAB;
    border: solid 2px #707070;
}

/*navigation bar*/
header {
    width: 100%;
    background-color: #5D5D5A;
    overflow: auto;
    margin: 0;
    padding: 0;
    position: relative;
    height: 60px;
}

header li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header a {
    border-radius: 10%;
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 10px 20px 0px 20px;
    text-decoration-line: none;
    text-align: center;
    color: white;
    font-size: 15px;
    transition: all .5s ease;
}

/* name  */
.nav-name a {
    margin-right: 150px;
    margin-left: 10px;
}

.nav-name a:hover {
    background-color: #5d5d5d;
}

header a:hover {
    background-color: black;
}

button.about-me:hover {
    background-color: #5D5D5A;
    color: white;
    transition: all .5s ease;
}

.nav-resume {
    position: absolute;
    top: 35%;
    right: 50px;
}

/* container #1 */

.grid-container-1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: middle;
    height: 500px;
    background-color: #FFF4E3;
}

.grid-c1-item-1 {
    width: 100%;
    text-align: center;
    margin: auto;
}

.grid-c1-item-2 {
    width: 100%;
    text-align: center;
    margin: auto;
}

/* container #1 elements */
#main-name {
    font-family: "Sacramento", cursive;
    font-size: 120px;
    font-weight: lighter;
    margin-bottom: -50px;
}

.grid-c1-item-1 h3 {
    font-size: 15px;
    font-weight: lighter;
}

.grid-c1-item-1 button {
    margin-top: 20px;
}

#main-pic {
    height: 400px;
    width: auto;
}

/* media files */
@media screen and (max-width: 800px) {
    .grid-container-1 {
        display: grid;
        grid-template-columns: auto;
        justify-content: middle;
        height: 1000px;
        background-color: #FFF4E3;
    }
}

/* container #2 */

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    height: 1500px;
    background-color: #FF7272;
    align-content: start;

}

.grid-c2-item-1 h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
    border: solid black;

}

/* Arrange pictures */
.grid-c2-item-2 {
    width: 100%;
    border: solid black;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    justify-content: middle;
}

img[src*="next"] {
    margin: 100px auto;
    height: 75px;
    grid-column: 1/4
}

img[src*="plus"] {
    margin: auto 50px;
    height: 75px;
    grid-column: 2/3;
}

/* hover formatting */
.story-container-single {
    margin: auto;
    grid-column: 1/4;
    height: 170px;
    position: relative;
}
.story-container-double1 {
    margin: auto;
    grid-column: 1/2;
    height: 170px;
    position: relative;
}

.story-container-double2 {
    margin: auto;
    grid-column: 3/4;
    height: 170px;
    position: relative;
}

.story-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5d5d5a;
    border-radius: 12%;
}

.story-container-single:hover .story-overlay {
    opacity: .92;
}
.story-container-double1:hover .story-overlay {
    opacity: .92;
}
.story-container-double2:hover .story-overlay {
    opacity: .92;
}

div[class*=story-txt] {
    color: white;
    top: 45%;
    left: 40%;
    font-size: 12px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

/* img specific formatting */
.story-txt-1{
    top: 45%;
    left: 40%;
}

img[src*="ubc"]{
    margin: 20px auto 0 auto;
    height: 180px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 12%;
}

img[src*="tesla"] {
    height: 180px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 12%;
    margin: auto
}

img[src*="army"] {
    height: 250px;
    width: 180px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 12%;
    margin: auto;
}

img[src*="data_science"]{
    height: 170px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 12%;
    margin: auto;
}
img[src*="montreal"]{
    height: 250px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 12%;
    margin: auto;
}
img[src*="groundswell"]{
    height: 80px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 2%;
}
img[src*="fiverr"]{
    height: 170px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 12%;
}